@page "/addemployee"

<EditForm Model="@Employee" OnValidSubmit="HandleValidSubmit">
  <DataAnnotationsValidator/>
    <h3>Edit Employee</h3>
    <hr/>
    <div class="form-group row">
    <label for="firstName" class="col-sm-2 col-form-label">
      First Name

    </label>
        <div class="col-sm-10">
            <InputText id="firstName" class="form-control" placeholder="First Name"
            @bind-Value="Employee.firstName"/>
            <ValidationMessage For="@(()=>Employee.firstName)" />
        </div>
    </div>
      <div class="form-group row">
    <label for="LastName" class="col-sm-2 col-form-label">
      Last Name

    </label>
        <div class="col-sm-10">
            <InputText id="LastName" class="form-control" placeholder="LastName"
            @bind-Value="Employee.lastName" /> 
             <ValidationMessage For="@(()=>Employee.lastName)" />
        </div>
    </div>
    <div class="form-group row">
    <label for="Email" class="col-sm-2 col-form-label">
      Email

    </label>
        <div class="col-sm-10">
            <InputText id="Email" class="form-control" placeholder="Email"
            @bind-Value="Employee.email" /> 
             <ValidationMessage For="@(()=>Employee.email)" />
        </div>
    </div>

 

    <div class="form-group row">
         <label for="department" class="col-sm-2 col-form-label">
      Department

    </label>
        <div class="col-sm-10">
 <InputSelect id="department" @bind-Value="Employee.departmentId" class="form-control">
         @foreach (var dept in Departments)
         {
                  <option value="@dept.DepartmentId">@dept.DepartmentName</option>
         }

       </InputSelect>
        </div>
       
       </div>
     <div class="form-group row">
     <label for="department" class="col-sm-2 col-form-label">Gender</label>
    <div class="col-sm-10">
        <InputSelect @bind-Value="Employee.gender"class="form-control">
        @foreach (var gender in Enum.GetValues(typeof(Blazorfrontendsample.Models.Gender)))

        {
          <option value="@gender">@gender</option>
        
        }
        
        </InputSelect>
    </div> 
      </div>
      <div class="form-group row">
          <label for="dateofbirth" class="col-sm-2 col-form-label">Date Of Birth</label>
          <div class="col-sm-10">
              <InputDate @bind-Value="Employee.dateofBirth" class="form-control" />

          </div>
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>

</EditForm>

