@page "/detailemployee/{id}"

<h3>Employee Detail</h3>

<p>Employee Id : @Employee.employeeId</p>
<p>First Name : @Employee.firstName</p>
<p>Last Name : @Employee.lastName</p>
<p>Email : @Employee.email</p>
<p>Date Of Birth : @Employee.dateofBirth</p>
<p>Gender : @Employee.gender</p>
<p>Department Id: @Employee.departmentId</p>
<p>Department Name: @Employee.Department</p>
<p>photoPath: @Employee.PhotoPath</p>